<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Belajar TestNG">

    <test name="App Test">
        <classes>
            <class name="com.juaracoding.testng.ClassTest01" />
            <class name="com.juaracoding.testng.ClassTest02" />
        </classes>
    </test>

</suite>